name: publish container images

on:
  push:
    branches: [master]
    tags: ["*"]

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest

    steps:
      - name: Login in to docker registry
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: backend repository
        uses: actions/checkout@v2

      - uses: docker/setup-buildx-action@v1

      - name: Cache go modules
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Build container and publish
        run: ./scripts/publish_container_images.sh
